body {
    background: url('https://images.unsplash.com/photo-1518717202715-9fa9d099f58a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1602&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'MedievalSharp', cursive;
    overflow-x: hidden;
}

.jumper {
    position: absolute;
    width: 78px;
    height: 60px;
    background: url('img/waddles.png');
}

.right {
    transform: rotateY(180deg);
}

.platform {
    position: absolute;
    width: 100px;
    height: 10px;
    background: rgb(94, 41, 1);
}

.grid {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 90vw;
    height: 70vh;
    display: none;
}

.scoreKeeper {
    height: 50px;
    width: 50px;
    background: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Opening Screen */
.scroll {
    background: url('img/scroll.png');
    height: 435px;
    width: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll-text-ctn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    color: rgb(103, 48, 14);
}

.scroll-btn {
    font-family: 'MedievalSharp', cursive;
    color: #fff;
    background: rgb(103, 48, 14);
    border: none;
    font-size: 16px;
    padding: 8px;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.65);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.scroll-btn:hover {
    background-color: rgb(196, 100, 40);
    box-shadow: 0px 15px 20px rgba(218, 114, 49, 0.4);
    color: #fff;
    transform: translateY(-2px);
}

/* Game Over Screen */
.overlay {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, .75);
    display: none;
}

.playAgain {
    background: url('img/scroll.png');
    height: 435px;
    width: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    text-align: center;
    color: rgb(103, 48, 14);
}

.playAgainDisplay {
    display: block;
}

.playAgainText {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
}

.deadWaddles {
    height: 100px;
    margin-top: 75px;
}

/* Win Screen */
.win-screen {
    height: 100vh;
    width: 100vw;
    background: url('img/stars.gif');
    background-size: contain;
    display: none;
}

.win-screen-display {
    display: block
}

.win-screen-ctn {
    background: url('img/scroll.png');
    height: 435px;
    width: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    text-align: center;
    color: rgb(103, 48, 14);
}

.winScreenTxt {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
}


/* Animation to make pig flip on jumps */
.flip {
    animation: flipped .3s linear;
}

@keyframes flipped {
    0% {
        transform: rotate(0)
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.burger1 {
    position: absolute;
    bottom: -5px;
    left: 2px;
    height: 100px;
    width: 120px;
}

.burger2 {
    position: absolute;
    bottom: -5px;
    right: 20px;
    height: 100px;
    width: 120px;
}